* {
  background-color: #000;
  color: #fff;
  font-family: "Satoshi", sans-serif;
}

html {
  height: 99vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

main {
  margin-top: 40px;
  max-width: 600px;
  padding: 20px;
}

.recruiters {
  color: #00f5ff;
}

.techies {
  color: #ff97c1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.connect {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connect a {
  width: 25px;
  height: 25px;
  text-align: center;
}

.twitter {
  background-color: #1da1f2;
}

.linkedin {
  background-color: #0077b5;
}

.github {
  background-color: #171515;
}

.instagram {
  background-color: #c13584;
}

.youtube {
  background-color: #ff0000;
}
